@font-face {
	font-family: vazir;
	src: url(../src/font/Vazir-Bold-UI.woff2);
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: vazir, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #4d7fe41e;
}
* {
	margin: 0;
	padding: 0;
}
